<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css" media="screen" projection>
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen" projection>
	<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
	<link rel="stylesheet" href="/stylesheets/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/stylesheets/blueprint/plugins/link-icons/screen.css" type="text/css" media="screen, projection">
	<!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
	<script type="text/javascript">
	  $(document).ready(function() {
	    // This is more like it!
	  });
	</script>

	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" /> 
	{% if page.meta_keywords %}<meta name="keywords" content="{{ page.meta_keywords }}" />{% endif %}
    {% if page.meta_description %}<meta name="description" content="{{ page.meta_description }}" />{% endif %}
	<meta name="author" content="Torbjorn Josefsson" />

	<title>{{ page.title }}</title>
  </head>
<body>
 <div class="container">
	<div id="header" class="span-24 last">
		<h1 id="title">
			torbjorn josefsson's blog
		</h1>
	</div>
	<hr>
	<div id="subheader" class="span-24 last">
		<h3 class="alt">
			the latest rantings continue... 
		</h3>
	</div>
	
	<div class="span-17 colborder" id="content">
		<h1 class="loud">
			recent blog posts
		</h1>
		<p>
			{{content}}
		</p>
		<hr>
		<div class="span-8 colborder">
				<h3 class="alt">
					web development projects
				</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="span-8 last">
			<h3 class="alt">
				miscellaneous
			</h3>
			
			<p>
					<a href="http://twitter.com/yxa/">twitter.com/yxa</a><br/>
					<a href="http://github.com/yxa/">github.com/yxa</a><br/>
					<a href="mailto:torbjorn.josefsson@gmail.com">torbjorn.josefson@gmail.com</a><br/>
					<a id="feed" href="atom.xml">subscribe to atom feed</a><br/>
					
			</p>
		</div>
	</div>
	<div class="span-6 last" id="sidebar">
		<div id="sidebarpicture">
			<img src="/images/lady.jpg" alt="lady with axe" />
				<h6 class="alt">
				"absinthe drinker -- by the king"
				</h6>
			</div>
		</div>
	</div>
	<hr>
</div>

  

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-12762645-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>
